footer {
    width: 80%;
    min-height: 80px;
    background-color: #e87000;
    color: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {

} 