header {
    width: 80%;
    background-color: #e87000;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
header h1{
    font-size: 2.5rem;
    padding-left: 2rem;
    width: 100%;
    color: #fff;
} 
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
nav ul{
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}
nav ul a:link {
    color: #fff;
    text-decoration: none;
}
nav ul a:visited{
    color: #3f3f3f;
}

nav ul li:hover{
    transform: scale(1.065);
    transition: all .2s ease-in-out
}

