header {
    width: 80%;
    background-color: #e87000;
    min-height: 80px;
    margin: 0 auto;
} 
nav{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

