html {
    height: 100%;
  }
  
  body {
    height: 100%;
    background: linear-gradient(#d78c52, #f4c098);

  } 


main {
    
    height: 100%;
    
}

@import url(reset.css);

:root {
  --main-bg-color: rgb(255, 255, 255);
}


.container {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#d78c52, #f4c098);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 70%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--main-bg-color);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--main-bg-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: var(--main-bg-color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--main-bg-color), 0 0 25px var(--main-bg-color),
    0 0 50px var(--main-bg-color), 0 0 100px var(--main-bg-color);
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--main-bg-color));
  animation: btn-anim1 1s linear infinite;
}

/* @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  } */

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--main-bg-color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

/* @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  } */

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--main-bg-color));
  animation: btn-anim3 5s linear infinite;
  animation-delay: 1s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--main-bg-color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 2s;
}

/* @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  } */

  .submit,.reset {
    background: none;
    border: none;
    color: var(--main-bg-color);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s ease-in-out
  }

  .submit:hover,.reset:hover {
    transform: scale(1.1);
  }
  

  