@import url(./reset.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./main.css);

body{
    color: black;
    border-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
